  <div class="row">
    <div class="col-xs-8 col-md-8 col-lg-8">
      <h4><%= product.name %></h4>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 text-right">
      <%= link_to "Eliminar", order_item, { data: { confirm: "Estás eliminando #{order_item.product.name} de tu carro de compras" }, method: :delete } %>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-4 col-md-4 col-lg-4">
      <h4 class="text-right">Precio: $<%= order_item.quantity * order_item.package.price %></h4>
    </div>

    <div class="col-xs-4 col-md-4 col-lg-4">
        <h4 class="text-right">Unidades: <%= order_item.quantity %></h4>
    </div>

    <div class="col-xs-4 col-md-4 col-lg-4">
        <h4 class="text-right">Peso: <%= order_item.package.weight %> kgs</h4>
    </div>
</div>
