<!DOCTYPE html>
<html>
<head>
  <title>Nuts | FrutosSecosDomicilio</title>
  <%= stylesheet_link_tag    'application', media: 'all', '' => true %>
  <%= javascript_include_tag 'application', '' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>




<body id="<%= yield(:title) %>">
    <%= render 'layouts/header' %>
  
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>

    <%= render 'layouts/footer' %>
</body>



</html>
